<a href="https://colab.research.google.com/github/egeor90/traweather/blob/master/tomtom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#%matplotlib inline
#import matplotlib.pyplot as plt
#import plotly.express as px
import pandas as pd
import json
import requests
import os

cwd = os.getcwd()

city = 'Moscow'
country = 'Russia'
#date_ = "2020-02-11"

# retrieve json file
# url = "https://api.midway.tomtom.com/ranking/live/ITA_milan"
# url = "https://api.weather.midway.tomtom.com/weather/live/ITA_milan"
# url = "https://api.midway.tomtom.com/ranking/dailyStats/ITA_milan"

url = "https://api.midway.tomtom.com/ranking/dailyStats/"+country[0:3].upper()+"_"+city.lower()
#url = "https://api.midway.tomtom.com/ranking/dailyStats/CHN_"+city.lower()
req_ = requests.get(url)
json_ = req_.json()

pd.set_option("display.max_rows", False)

In [7]:
df = pd.DataFrame.from_dict(json_)
df['date'] = pd.DataFrame(df['date'], columns=['date'])
df['datetime'] = pd.to_datetime(df['date'])
df = df.set_index('datetime')
df.drop(['date'], axis=1, inplace=True)

In [8]:
#df.head()
df['week'] = df['week'].astype(str).str[:-5]

In [9]:
# plt.style.use("ggplot")
# ax = df.plot(color="Green")
# plt.title(city + " Traffic")
# plt.legend(loc=2)
# plt.box(False)

In [10]:
#df.loc[df.index.strftime("%Y-%m-%d") == date_]

In [11]:
df.head()

           weekday week  congestion  diffRatio
datetime
2019-12-30     Mon    1          83   0.596154
2019-12-31     Tue    1          18  -0.704918
2020-01-01     Wed    1           2  -0.968254
2020-01-02     Thu    1           9  -0.857143
2020-01-03     Fri    1          12  -0.803279

In [15]:
df.to_csv(cwd+"/"+city.lower()+'_traffic.csv', encoding = 'utf-8')